h1 {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 0;
  color: rgb(121, 121, 220);
}

.li {
  width: 40px;
  height: 25px;
  border: 2px solid orange;
  text-align: center;
  margin: 7px 10px;
}

.li:hover {
  opacity: 0.7;
  cursor: pointer;
}

.reserved {
  background: rgb(36, 232, 10);
  color: #fff;
  display: inline-block;
}

.selected {
  background: red;
  color: #fff;
  display: inline-block;
}

.reserved::after {
  content: "R";
}

.selected::after {
  content: "S";
}

.available::after {
  content: "A";
}

.available {
  color: #333;
}

li {
  list-style: none;
}


.button {
  position: sticky;
  top: 50%;
  left: 80%;
  padding: 10px;
  border: #333;
  border-radius: 5px;
  background-color: rgb(234, 216, 193);
  font-size: 18px;
}

.button:hover {
  background-color: rgb(238, 228, 216);
  border: rgb(66, 62, 62);
  cursor: pointer;
}
